AMARR_ENV=local
AMARR_STORAGE_DIR=.amarr
AMARR_TRACE_DIR=.amarr/traces
AMARR_VECTOR_DIR=.amarr/vector
AMARR_MODEL_REASONING_LARGE_URL=http://localhost:9001
AMARR_MODEL_CODING_LARGE_URL=http://localhost:9002
AMARR_MODEL_FAST_SMALL_URL=http://localhost:9003
AMARR_MODEL_EMBEDDING_URL=http://localhost:9004
AMARR_MODEL_RERANK_URL=http://localhost:9005
AMARR_ENABLE_NETWORK=false
AMARR_ENABLE_TELEMETRY=false
